// Colors
$input-color: #00000099;
$white: #FFFFFF;
$off-white: #F4F4F4;

$shadow: #00000024;

$light-gray: #F5F5F5;
$gray: #00000029;
$dark-gray: #282E2999;

$light-blue: #69BCFF;
$blue: #03A9F4;
$dark-blue: #2196F3;

$purple: #5C6BC0;
$orange: #FF9100;
$green: #66BB6A;

// Fonts
$main-font: 'Roboto', 'Quicksand', 'Source Sans Pro',
  'Segoe UI', 'Helvetica Neue', Arial, sans-serif;